.product-card {
  margin: 10px;
  width: 350px;
  text-align: left;
  border-radius: 10px;
  background-color: #000;
  transition: transform 0.2s;
}

.product-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  background: #1f1f1f;
}

h3 {
  font-size: 1.2em;
  margin: 10px 0;
  color: #fff;
}

p {
  margin: 5px 0;
  color: #fff;
}

.color-options {
  display: flex;
  margin-top: 10px;
}

.color-dot {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-right: 5px;
}
