.explore-page-container {
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
  background: #000;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
